* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header start */
header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 11;
}

header .navbar-light .navbar-nav .nav-link {
    color: white;
    transition: all .3s;
    position: relative;
}

header .navbar-light .navbar-nav .nav-link::before {
    position: absolute;
    left: 0;
    bottom: -5px;
    background-color: #35a22c;
    display: block;
    content: "";
    width: 0%;
    height: 3px;
    transition: all .5s;
}

header .navbar-light .navbar-nav .nav-link:hover::before {
    width: 100%;
}

header .navbar-light .navbar-nav .nav-link:hover {
    color: #35a22c;
}

header .navbar-light .navbar-nav .active>.nav-link {
    color: #35a22c;
}

header .navbar-light .navbar-nav .active>.nav-link::before {
    width: 100%;
}

header .navbar-toggler {
    background-color: #35a22c;
}

header .navbar-brand {
    font-size: 36px;
}

/* header end */



/* carousel start */
.carousel__bg {
    height: 100vh;
    object-fit: cover;
}

#carousel .carousel-caption img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

#carousel .carousel-caption {
    bottom: 30%;
}

#carousel .carousel-item::before {
    display: block;
    content: "";

    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(39, 43, 54, 0.5);
    top: 0;
    left: 0;
}

#carousel .carousel-item h5 {
    font-size: 54px;
    line-height: 75px;
}

#carousel .carousel-item p {
    font-size: 24px;
}

.carousel-indicators {
    bottom: 8%;
}

.carousel-indicators li {
    width: 13px;
    height: 13px;
    border-radius: 50%;
}

.carousel-indicators li.active {
    background-color: #35a22c;

}

/* carousel end */

/* products start */
#products .nav-pills .nav-link.active {
    width: 100%;
    border-radius: 4px;
    background-color: #35a22c;
    font-weight: 500;
    color: white;
    border-left: 2px solid #35a22c;
    border-right: 2px solid #35a22c;
    border-bottom: 2px solid #35a22c;
}

#products .products__heading {
    max-width: 750px;
}

#products .item__content {
    border-radius: 16px;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-align: center;
    height: 450px;
}

#products .item__content:hover .item__title {
    color: #35a22c;
    border-color: #35a22c;
    border-top-color: white;
}

#products .item__content img {
    height: 350px;
    object-fit: cover;
}

#products .item__content .item__title {
    padding: 20px;
    height: 100px;
    border: 1px solid white;
    border-radius: 16px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    transition: 0.3s;
}

#products .nav-item {
    border-radius: 6px;
    border: 1px solid black;
}

#products .nav-link {
    color: black;
}

/* products end */

/* feature start */
#feature {
    background: url(../Portfolio/image/3.jpg) no-repeat center;
    background-size: cover;
    padding: 100px 0 120px;
    background-attachment: fixed;
    position: relative;
}

#feature .overlay {
    background-color: rgba(7, 10, 12, .72);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#feature .heading {
    position: relative;
}

#feature .heading h2 {
    font-size: 36px;
    line-height: 42px;
    font-weight: 600;
}

#feature .heading p {
    line-height: 24px;
}

#feature .feature__item {
    padding: 40px 40px;
    background-color: rgba(255, 255, 255, .1);
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 10px;
    backdrop-filter: blur(3px);
    transition: all 0.5s;
}

#feature .feature__item:hover {
    background-color: #000;
    border-color: #fff;
}

#feature .feature__item i {
    font-size: 48px;
    color: #35a22c;
}

#feature .feature__item h4 {
    color: white;
    font-size: 20px;
    line-height: 30px;
    padding-top: 25px;
    font-weight: 800;
}

#feature .feature__item p {
    color: white;
    font-size: 16px;
    padding-top: 15px;
    line-height: 24px;
}

/* feature end */


/* award start */
#award {
    position: relative;
    padding: 70px 0;
}

#award .award__bg {
    background: url(../Portfolio/image/memphis_3.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 50% auto;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

#award .award__left {
    max-width: 750px;
    background-color: rgba(225, 225, 225, 0.25);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, .15);
    backdrop-filter: blur(3px);
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);
    padding: 45px;
}

#award .award__left h2 {
    font-size: 36px;
    line-height: 42px;
    color: #1a1d2d;
    font-weight: 600;
}

#award .award__left p {
    color: #585855;
    line-height: 24px;
}

#award .award__right {
    padding: 45px 0;
}

#award img {
    vertical-align: middle;
    border-style: none;
}

/* award end */

/* footer start */
footer {
    background-color: #222;
}


footer .footer__social a {
    margin-right: 10px;
    color: #aaa;
}

footer .footer__social i {
    width: 42px;
    height: 42px;
    line-height: 42px;
    border-radius: 50%;
    border: 1px solid #454545;
    transition: all 0.5s;
}

footer .footer__social i:hover {
    border: 1px solid #35a22c;
    color: #35a22c;
}

footer p {
    color: #aaa;
}

footer .footer__copyright {
    border-top: 1px solid #454545;
    padding-top: 30px;
    margin-top: 30px;
}

/* footer end */